#faq {
    font-family: Libre Baskerville, serif;
    background-color: #A188A6;
    margin: 0;
    padding: 2vh;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  #faq h1 {
    font-size: 3rem;
    font-weight: bold;
    text-align: left;
    color: white;
    margin: 20px 0;
  }
  
  #faq h2 {
    font-size: 1.5rem;
    text-align: left;
    color: white;
    margin-top: 20px;
  }
  
  .faq-container {
    width: 100%;
    max-width: 800px;
    margin: 20px 0;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    min-height: 20vh;
  }
  
  .faq-item {
    padding: 15px;
    border-bottom: 1px solid #ddd;
    cursor: pointer;
    font-size: 18px;
    display: flex;
    flex-direction: column;
  }
  
  .faq-item:last-child {
    border-bottom: none;
  }
  
  .faq-item .answer {
    display: none;
    padding: 10px 0;
    font-size: 16px;
    color: #333;
  }
  
  .faq-item .arrow {
    margin-left: auto;
    display: inline-block;
    font-size: 20px;
    transition: transform 0.3s ease;
  }
  
  .faq-item.active .arrow {
    transform: rotate(180deg);
  }
  
  .faq-item.active .answer {
    display: block;
  }
  
  .faq-item .question {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
  }

  .link-button {
    position: absolute;
    top: 20px;
    left: 20px;
    background-color: #A188A6;
    color: white;
    border: none;
    padding: 10px 15px;
    font-size: 1rem;
    font-family: Libre Baskerville, serif;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s ease;
  }
  
  .link-button:hover {
    background-color: #8e7d8f;
  }
  
  
  @media screen and (max-width: 768px) {
    #faq h1 {
      font-size: 1.5rem;
    }
  
    .faq-container {
      padding: 15px;
      max-width: 100%;
      margin: 10px;
    }
  
    .faq-item {
      font-size: 16px;
    }
  
    .faq-item .arrow {
      font-size: 18px;
    }
  
    .faq-item .question {
      font-size: 16px;
    }
  
    .faq-item .answer {
      font-size: 14px;
    }
  }
  