* {
  margin: 0;
  padding: 0;
}


.content {
  flex: 1;
}

html, body, #root {
  height: 100%;
  margin: 0;
}

body {
    font-family: 'Cormorant Garamond', serif;
    background-color: white;
    margin: 0;
    padding: 0;
    color: #333;
    display: flex;
    flex-direction: column;
  }
  
main {
  text-align: center;
  padding: 20px;
  flex: 1;
  min-height: calc(100vh - 100px);
  padding: 20px;
}

main p {
  font-size: 1.2rem;
  margin: 20px 0;
}

main h1 {
  font-family: 'DM Serif Display', serif;
  font-weight: 700;
}

button {
  padding: 10px 20px;
  font-size: 16px;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}


footer {
  margin-top: auto;
  text-align: center;
  color: #888;
  font-size: 0.9rem;
}

.sidebar-closed .content {
  margin-left: 0;
}